html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    /* view height, minus header bar height and room for buttons */
    height: calc(100vh - 175px);
    position: fixed;
}

.mapIndex {
    visibility: hidden
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1200px;
    column-gap: 20px;
}

#calculations {
    top: 635px;
    position: fixed;
    left: 200px;
}

.setvalue {
    display: flex;
    justify-content: center;
    align-items: center;
}